#intro {
    text-align: center;

}

#intro img{
    height: 300px;
    width: 450px;
}

#intro h2{

}

.btn {
    background-color: #7ec6cc;
    width: 100px;
    font-size: 20px;
}

.btn:hover{
    background-color: #b8e2e3;
}

#welcome {
    text-align: center;
    margin: 60px 0 50px 0;
}

#about{
    text-align: center;
}

#projects{
    text-align: center;
}

#contact{
    text-align: center;
}
